*.disabled {
	Display: None;
}

Body {
	Background: URL("image/background.jpg");
	Font-Family: Roboto;
}

Main {
	Padding-Top: 1em;
	Line-Height: 1.75;
}

Article {
	Padding: 2.5%;
}



.input-field > .prefix.profilePhoto {
	Width: 2rem;
	Margin-Right: 1rem;
}

#header-profilePhoto Img {
	Width: 2.5em;
	Height: 2.5em;
	Vertical-Align: Middle;
}